	body {background-color: lightgray;
	      margin: 0; 
	      height:100%;
	      font-family: 'Libre Baskerville', serif;}

	nav { background-image: url(https://images.unsplash.com/photo-1495455905780-f11d21b2e5d6?auto=format&fit=crop&w=1534&q=80); 
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		  height: 2em;
		  font-size: 3.5em;
		  text-align: center;
		  color: white;}
	
	article{width:50%; float: left;}

	form{ width: 50%;float: left; line-height: 2;}
    
    h1{ text-align: left; }

